<h1 class="text-center text-2xl">Forgot your password?</h1>
<div class="w-full flex justify-center mt-4">
  <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "card-body" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-control">
        <%= f.label :email, class: "label" do %>
          <span class="label-text">Email</span>
        <% end %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered w-full" %>
      </div>
      <div class="form-control">
        <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
      </div>
    <% end %>
    <div class="card-body">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
