<!-- Hero Section -->
<div class="hero min-h-screen" style="background-image: url('<%= asset_path("jumbotron.jpg") %>');">
  <div class="hero-overlay bg-opacity-70"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-lg">
      <h1 class="mb-5 text-5xl font-bold">Welcome to <br>
        Routine Rocket</h1>
      <p class="mb-5">The Road to your dream life</p>
      <%= link_to "Get Started", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>
<!-- Features Section -->
<section class="container mx-auto my-16 px-4">
  <div class="text-center mb-12">
    <h2 class="text-4xl font-bold">Our Features</h2>
    <p class="mt-4">Discover the amazing features that make us the best choice for you.</p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <h3 class="card-title">Simple and Intuitive Interface</h3>
        <p>No Overwhelm, Just Progress:  Stay focused with a clear and simple layout that helps you achieve your goals.</p>
      </div>
      <figure>
        <img src="<%= asset_path("simple.jpg") %>" alt="Feature One" />
      </figure>
    </div>
    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <h3 class="card-title">Create Positive or Break Negative Habits</h3>
        <p>Tailored Habit Management: Build healthy routines or eliminate bad ones with custom habit types</p>
      </div>
      <figure>
        <img src="<%= asset_path("positive-habit.jpg") %>" alt="Feature Two" />
      </figure>
    </div>
    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <h3 class="card-title">Reflect and Improve</h3>
        <p>Learn From Your Journey: Keep track of your mindset and motivations to better understand your path to success.</p>
      </div>
      <figure>
        <img src="<%= asset_path("reflect.jpg") %>" alt="Feature Three" />
      </figure>
    </div>
  </div>
</section>
<!-- Call to Action Section -->
<section class="hero bg-base-200 py-20">
  <div class="hero-content text-center">
    <div class="max-w-lg">
      <h2 class="text-4xl font-bold mb-5">Ready to Get Started?</h2>
      <p class="mb-5">Join us today and take the first step towards better productivity.</p>
      <%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</section>
<!-- Footer -->
<footer class="bg-base-100 text-neutral-content p-4">
  <div class="container mx-auto flex justify-between items-center">
    <p>&copy; 2024 YourBrand. All rights reserved.</p>
    <div class="space-x-4">
      <a href="#">Privacy Policy</a>
      <a href="#">Terms of Service</a>
    </div>
  </div>
</footer>
